/* Use your own code or past solution for Great Idea Web Page CSS here! */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


























/* code starts here */

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* set background color for body */
body{
	background-color: white;
	color: black;
}

/* set styles for entire container */
.container{
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px;
	min-width: 800px;
}

a{
	color: #888;
	text-decoration: none;
}



/*set style for header, including nav, links, and logo*/

.container header{
	display:flex;
	justify-content:space-around;
	margin-bottom: 20px;
}

/* style for nav area */
.container header nav{
	display:flex;
	justify-content: space-evenly;
	width: 100%;
	align-items: center;
	position:fixed;
}

.container header nav:hover{
	color:#000000;
	background-color: #d6d6d6;
}

/* style for links in nav area */
.container header nav a{ 
	color: #9dbec9;
	text-decoration: none;
	display:inline-block;
	margin: 20px;
}

/* hover option for nav links */
.container header nav a:hover{
	color: black;
}

/* sets first child margin and border (services link) */
.container header nav a:first-child{
	margin-left: 20px;
}

/* style for logo */
.container header nav .logo{
	background-color: white;
	vertical-align: middle;
	padding:20px;
	margin-left: 80px;
}

.container header nav .logo:hover{
	background-color: yellow;
	margin-left: 30px;
}

/*Set styles for marketing-banner*/
section.marketing-banner{
	margin: 40px 0;
	display: flex;
	justify-content:space-around;
}

/* styling innovation, on, and demand along with the button */
section div.innovation{
	text-align: center;
	padding: 40px;
}

/* styles for Innovation On and Demand (they are in span elements) */
div.innovation h1 span{
	font-size: 72px;
	line-height: 72px;
	display:flex;
	justify-content: flex;
}

/* styling for the button */
div.innovation button{
	width: 160px;
	padding: 4px;
}

/* styling for the image (header-img, round pic of code snippet) */
section .header-image{
	width: 35%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding:1%;
}

/* styles for content-top */
section.content-top{
	width: 100%;
}

/* styling for the paragraphs in content-top (feature and about) */
section div p{
	text-align:justify;
	line-height: 1.25em;
	padding:20px;
}

/* styling for divs in content top (feature and about divs) */
section.content-top div{
	width: 47%;
	display: inline-block;
}

/* styling for first-child (feature) */
section.content-top div:first-child{
	margin-right: 40px;
}

/* styling for mid-page-accent pic */
.mid-page-accent{
	width: 100%;
	border-radius: 30%;
	height:25%;
	width:100%;
}


/* styling for content-bottom (services product, vision) */
section.content-bottom {
    width: 100%;
    border-bottom: 1px solid black;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-evenly;
}

/* styling for content-bottom divs (service, product, vision) */
section.content-bottom div{
	margin-right:30px;
	padding: 20px;
}

section.content-bottom div h2{
	margin-right:30px;
}

/* styling for content-bottom last child (service) */
section.content-bottom div:last-child{
	margin-right: 0;
}

/* styling for content-bottom paragraphs (service, product, vision) */
section.content-bottom div p{
	text-align: justify;
}

/* styling for footer section*/
footer{
	width: 100%;
	line-height: 1.25em;
}

/* styling for copyright */
footer div.copyright{
	padding: 20px 0 40px 0;
	text-align: center;
}

/* styling for contact info */
footer div.contact{
	width: 200px;
}

/* styling for contact info (strong elements (address, phone, email)) */
footer strong{
	display: block;
	margin-bottom: 10px;
}

/* styling for address */
footer .address{
	width:100%;
}






/* Services page style here....*/

.container header nav{
	display: flex;
	justify-content: space-evenly;
	width: 90%;
	align-items: center;
	position: fixed;
}

/* sets style for entire container */
.container-two{
	display: flex;
	justify-content: space-evenly;
	border: 2px solid black;
}

/* style for header image, centers it */
.services-header-img{
	display: flex;
	justify-content: center;
	padding: 3% 10% 2% 10%;
}

/* centers entire services header */
.servicesHeader{
	width: 90%;
	padding: 2% 0% 3% 10%;
}

/* increase font size for serviceHeader h1 */
.serviceHeader h1{
	font-size: 40px;
}

/* sets style for topcolumn (digital design, and ux/ui */
.topcolumn{
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 3% 12% 5% 12%;
	justify-content: space-evenly;
}

/* provides space between digital design and ux/ui */
.topcolumn .digital{
	margin: 0% 3% 0% -2%;
	border:1px solid black;
	background-color: #f0edef;
}

/* top column, ux/ui styles */
.topcolumn .ux-ui{
	margin: 0% -3% 0% -1%;
	border:1px solid black;
	background-color: #f0edef;
}

/* style for all h2's in topcolumn */
.topcolumn h2{
	display: flex;
	justify-content: flex-start;
	margin: 3%;
}

/* style for all buttons in topcolumn */
.topcolumn button{
	margin: 2%;
	padding: 1% 2% 1% 1%;
}

/* styling for middlecolumn (digital marketing, web development */
.middlecolumn{
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 3% 12% 5% 12%;
	justify-content: space-evenly;
}

/* provides space between digital marketing and web development */
.middlecolumn .digital-marketing{
	margin: 0% 3% 0% -2%;
	border:1px solid black;
	background-color: #f0edef;
}

/* style for middle column, web development */
.middlecolumn .web-dev{
	margin: 0% -3% 0% -1%;
	border:1px solid black;
	background-color: #f0edef;
}

/* style for all h2's in middle column */
.middlecolumn h2{
	display: flex;
	justify-content: flex-start;
	margin: 3%;
}

/* style for all button's in middle column */
.middlecolumn button{
	margin: 2%;
	padding: 1% 2% 1% 1%;
}

/* styling for bottom column, ios development, android development */
.bottomcolumn{
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 3% 12% 5% 12%;
	justify-content: space-evenly;
}


/* provides space between ios development and android development */
.bottomcolumn .ios-dev{
	margin: 0% 3% 0% -2%;
	border:1px solid black;
	background-color: #f0edef;
}

/* styling for bottom column android development */
.bottomcolumn .android-dev{
	margin: 0% -3% 0% -1%;
	border:1px solid black;
	background-color: #f0edef;
}

/* style for bottomw column h2's */
.bottomcolumn h2{
	display: flex;
	justify-content: flex-start;
	margin: 3%;
}

/* style for bottom column buttons */
.bottomcolumn button{
	margin: 2%;
	padding: 1% 2% 1% 1%;
}

/* style for all paragraphs in main div */
section .main div p{
	text-align: justify;
	line-height: 1.25em;
	padding: 5%;
}

/* style for all footer */
.footer{
	display:flex;
}

/* style for all fact portion */
.footer .facts{
	width:80%;
	margin-left:10%;
}

/* style for all h2's in facts portion */
.facts h2{
	display: flex;
	justify-content: flex-start;
	width: 28%;
}

/* style fo all paragraphs in facts portion */
.facts p{
	display: flex;
	justify-content: flex-start;
	width: 28%;
	margin-left:-1%
}

.list{
	display:flex;
	justify-content: flex-start;
	margin-left: 3%;
}

/* tried to style the ul */
.list ul{
	display: flex;
	flex-direction: column;
	margin-left:5%
}

/* tried to style the li */
.list li{
	padding: 15% 0 15% 0;
}

.footer img{
	display: flex;
	justify-content: flex-end;
	height: 62%;
	width:43%;
}

.copyright2{
	display: flex;
	justify-content: center;
	text-align: center;
}

/* @media commands, background changes color */
@media (max-width: 769px) {
	body{
		background-color: rgb(182, 182, 247);
	}

	header nav a:first-child{
		margin-left: 20px;
	}

	.hero-image{
		display: none;
	}
}

@media (max-width: 500px) {
	body{
		background-color: rgb(158, 231, 164);
	}

	header nav a:first-child{
		margin-left: 10px;
	}

	.logo{
		margin-left:0;
	}

	.hero-image{
		display: none;
	}

	.box-container{
		flex-direction: column;
	}
}

