
/* Services page style here....*/

/* sets style for entire container */
.container-two{
display: flex;
justify-content: space-evenly;
border: 2px solid black;
}

/* style for header image, centers it */ 
.services-header-img{
display: flex;
justify-content: center;
padding: 3% 10% 2% 10%;
}

/* centers entire services header */
.servicesHeader{
width: 90%;
padding: 2% 0% 3% 10%;
}

/* increase font size for serviceHeader h1 */
.serviceHeader h1{
font-size: 40px;
}

/* sets style for topcolumn (digital design, and ux/ui */
.topcolumn{
display: flex;
width: 100%;
justify-content: center;
padding: 3% 12% 5% 12%;
justify-content: space-evenly;
}

/* provides space between digital design and ux/ui */
.topcolumn .digital{
margin: 0% 3% 0% -2%;
border:1px solid black;
background-color: #f0edef;
}

/* top column, ux/ui styles */
.topcolumn .ux-ui{
margin: 0% -3% 0% -1%;
border:1px solid black;
background-color: #f0edef;
}

/* style for all h2's in topcolumn */
.topcolumn h2{
display: flex;
justify-content: flex-start;
margin: 3%;
}

/* style for all buttons in topcolumn */
.topcolumn button{
margin: 2%;
padding: 1% 2% 1% 1%;
}

/* styling for middlecolumn (digital marketing, web development) */
.middlecolumn{
display: flex;
width: 100%;
justify-content: center;
padding: 3% 12% 5% 12%;
justify-content: space-evenly;
}

/* provides space between digital marketing and web development */
.middlecolumn .digital-marketing{
margin: 0% 3% 0% -2%;
border:1px solid black;
background-color: #f0edef;
}

/* style for middle column, web development */
.middlecolumn .web-dev{
margin: 0% -3% 0% -1%;
border:1px solid black;
background-color: #f0edef;
}

/* style for all h2's in middle column */
.middlecolumn h2{
display: flex;
justify-content: flex-start;
margin: 3%;
}

/* style for all button's in middle column */
.middlecolumn button{
margin: 2%;
padding: 1% 2% 1% 1%;
}

/* styling for bottom column, ios development, android */
.bottomcolumn{
display: flex;
width: 100%;
justify-content: center;
padding: 3% 12% 5% 12%;
justify-content: space-evenly;
}


/* provides space between ios development and android */
.bottomcolumn .ios-dev{
margin: 0% 3% 0% -2%;
border:1px solid black;
background-color: #f0edef;
}

/* styling for bottom column android development */
.bottomcolumn .android-dev{
margin: 0% -3% 0% -1%;
border:1px solid black;
background-color: #f0edef;
}

/* style for bottomw column h2's */
.bottomcolumn h2{
display: flex;
justify-content: flex-start;
margin: 3%;
}

/* style for bottom column buttons */
.bottomcolumn button{
margin: 2%;
padding: 1% 2% 1% 1%;
}

/* style for all paragraphs in main div */
section .main div p{
text-align: justify;
line-height: 1.25em;
padding: 5%;
}

/* style for all footer */
.footer{
display:flex;
}

/* style for all fact portion */
.footer .facts{
width:80%;
margin-left:10%;
}

/* style for all h2's in facts portion */
.facts h2{
display: flex;
justify-content: flex-start;
width: 28%;
}

/* style fo all paragraphs in facts portion */
.facts p{
display: flex;
justify-content: flex-start;
width: 28%;
margin-left:-1%
}

.list{
display:flex;
justify-content: flex-start;
margin-left: 3%;
}

/* tried to style the ul */
.list ul{
display: flex;
flex-direction: column;
margin-left:5%
}

/* tried to style the li*/
.list li{
padding: 15% 0 15% 0;
}

.footer img{
display: flex;
justify-content: flex-end;
height: 62%;
width:43%;
}

.copyright2{
display: flex;
justify-content: center;
text-align: center;
}